<ion-modal-view>
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-icon icon ion-android-close" ng-click="acm.closeModal()"></button>
    </div>
    <h1 class="title">Create Student</h1>
    <div class="buttons">
      <button
          class="button button-icon icon ion-checkmark"
          ng-click="acm.addStudent()">
      </button>
    </div>
  </ion-header-bar>
  <ion-content>
    <label class="item item-input item-select">
      <div class="input-label">
        Department
      </div>
      <select ng-change="acm.selectedDepartment(dep)" ng-model="dep">
        <option ng-repeat="department in acm.departments track by $index">{{department.label}}</option>
      </select>
    </label>
    <label class="item item-input item-select" ng-if="acm.selDep">
      <div class="input-label">
        Section
      </div>
      <select ng-change="acm.selectedSection(sec)" ng-model="sec">
        <option ng-repeat="section in acm.sections track by $index">{{section.label}}</option>
      </select>
    </label>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Student's Name</span>
        <input type="text" placeholder="Student's Name" ng-model="acm.newStudent.name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Roll No.</span>
        <input type="text" placeholder="Roll No." ng-model="acm.newStudent.roll">
      </label>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-stable" align-title="center" ng-click="acm.addStudent()">
    <h1 class="title">Add Student</h1>
  </ion-footer-bar>
</ion-modal-view>