<ion-modal-view>
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-icon icon ion-chevron-left" ng-click="vcm.previousDay()"></button>
    </div>
    <h1 class="title">{{vcm.currentDate| date :shortDate}}</h1>
    <div class="buttons">
      <button
          class="button button-icon icon ion-android-close"
          ng-click="vcm.closeModal()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="card" ng-if="vcm.totalStudents">
      <div class="item item-text-wrap">
        <h3>Total Students Present: <strong style="float: right">{{vcm.studentsPresent}}</strong></h3>
        <h3>Total Students Absent: <strong style="float: right">{{vcm.totalStudents - vcm.studentsPresent}}</strong></h3>
        <hr>
        <h2>Total Students Present: <strong style="float: right">{{vcm.totalStudents}}</strong></h2>
      </div>
    </div>
    <div class="card" ng-if="!vcm.totalStudents">
      <div class="item item-text-wrap">
        <h2>Attendance not available!</h2>
      </div>
    </div>
  </ion-content>
  <!--<ion-footer-bar class="bar-stable" align-title="center" ng-click="lc.addLiability(lc.entry)">-->
  <!--<h1 class="title">Create Entry</h1>-->
  <!--</ion-footer-bar>-->
</ion-modal-view>