<ion-view view-title="Attendance">
  <ion-nav-buttons side="right">
    <button ng-if="rc.students.length" class="button button-clear icon ion-checkmark" ng-click="rc.submit()"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Department
        </div>
        <select ng-change="selectedDepartment(department)" ng-model="department">
          <option ng-repeat="department in rc.departments track by $index">{{department.label}}</option>
        </select>
      </label>
      <label class="item item-input item-select" ng-if="department">
        <div class="input-label">
          Section
        </div>
        <select ng-change="selectedSection(department, section)" ng-model="section">
          <option ng-repeat="section in rc.sections track by $index">{{section.label}}</option>
        </select>
      </label>
      <hr>
      <ion-list>
        <ion-checkbox ng-model="student.present" ng-checked="student.present" ng-repeat="student in rc.students track by $index">{{student.roll}}. {{student.name}}
        </ion-checkbox>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
