<ion-view view-title="Manage Students">
  <ion-nav-buttons side="right">
    <button class="button button-clear icon ion-android-add" ng-click="ac.openModal()"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Department
        </div>
        <select ng-change="selectedDepartment(department)" ng-model="department">
          <option ng-repeat="department in ac.departments track by $index">{{department.label}}</option>
        </select>
      </label>
      <label class="item item-input item-select" ng-if="department">
        <div class="input-label">
          Section
        </div>
        <select ng-change="selectedSection(department, section)" ng-model="section">
          <option ng-repeat="section in ac.sections track by $index">{{section.label}}</option>
        </select>
      </label>
      <hr>
      <ion-list>
        <div class="item item-button-right" ng-repeat="student in ac.students track by $index">
          {{student.roll}}. {{student.name}}
          <button class="button" ng-click="ac.removeStudent(student)">
            <i class="icon ion-android-delete"></i>
          </button>
        </div>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
