<ion-view view-title="Report">
  <ion-nav-buttons side="right">
    <button ng-if="vc.students.length" class="button button-clear icon ion-stats-bars"
            ng-click="vc.openModal()"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Department
        </div>
        <select ng-change="selectedDepartment(department)" ng-model="department">
          <option ng-repeat="department in vc.departments track by $index">{{department.label}}</option>
        </select>
      </label>
      <label class="item item-input item-select" ng-if="department">
        <div class="input-label">
          Section
        </div>
        <select ng-change="selectedSection(department, section)" ng-model="section">
          <option ng-repeat="section in vc.sections track by $index">{{section.label}}</option>
        </select>
      </label>
      <hr>
      <ion-list>
        <div class="item item-icon-right" ng-repeat="student in vc.students track by $index">
          {{student.roll}}. {{student.name}}
          <i ng-if="!student.present" class="icon ion-ios-circle-outline"></i>
          <i ng-if="student.present" class="icon ion-ios-checkmark-outline"></i>
        </div>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
